body {
    background: rgb(237, 238, 243);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.outer {
    background-color: white;
    padding: 12px;
    margin: 24px auto;
    padding: 12px;
}

.header {
    margin: 0px;
    background: rgb(250, 237, 237);
    padding: 8px;
    text-align: center;
    outline: solid black 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.header p {
    display: inline;
    justify-self: center;
    font-weight: bold;
    font-size: 20px;
}

.title {
    margin-right: auto;
}

.welcome {
    background: rgb(250, 237, 237);
    padding: 8px;
    outline: solid black 4px;
}

.content {
    background: rgb(250, 237, 237);
    padding: 8px;
    margin: 0px;
    outline: solid black 4px;
}

.recipelistborder {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: row
}

.recipelistborder li {
    outline: solid black 2px;
    background: white;
    padding: 8px;
}

.blue {
    color: white;
}

.black {
    background: black;
    padding: 12px;
    margin: 24px 0px 8px 0px;
}